<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1.0</string>
	<key>name</key>
	<string>OpenSpace1</string>
	<key>queue_name</key>
	<string>OpenSpace1</string>
	<key>display_name</key>
	<string>OpenSpace1</string>
	<key>ppd</key>
	<string>/Library/Printers/PPDs/Contents/Resources/CNPZUIRAC2225ZU.ppd.gz</string>
	<key>location</key>
	<string>Bat. A, Open Space 1</string>
	<key>address</key>
	<string>10.1.42.2</string>
	<key>default_catalog</key>
	<string>testing</string>
	<key>requires</key>
	<array>
		<string>Canon_UFRII</string>
	</array>
</dict>
</plist>
